/* .h1-title{
    color: black;
  
    
   text-align: center;
    position: relative;
    cursor: pointer;
}

.h1-title::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 200px;
    height: 5px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.h1-title::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;

    transition: width .5s linear;
    
}

.h1-title:hover:after{
    width: 200px;

} */

#c1{

width: 400px;
height: 400px;
border: 3px solid black;
margin: 50px;


}

.input{

    border: 2px solid black;
    height: 38px;
    margin-top: 13px;

}